# Basic Python Practices

#### Exercise 00. Variable Declaration

Define the following variables with values of your choice:

- A variable that stores your name (text).
- A variable that stores your age (integer).
- A variable that indicates if you like programming (true or false).
- A variable that stores your average grade (decimal number).

In [1]:
# Declare your variables here.

#Example
greeting = "Hello world"

- Create a list with your five favorite numbers and print it.

In [2]:
# Favorite numbers list
# Lista de n√∫meros favoritos
my_five_fav=[1,2,3,4,5]
print(my_five_fav)

[1, 2, 3, 4, 5]

- Create a dictionary that stores a student's information and print it:

        - Name
        - Age
        - Final grade

In [3]:
student={"name": "Carlos Badillo","age":34,"grade": 10}
print(student)

{'name': 'Carlos Badillo', 'age': 34, 'grade': 10}

#### Exercise 01. Basic data analysis with native Python structures.  
Create a list with the grades of 5 students: [8.5, 9.2, 7.8, 8.9, 10].

- Calculate the average of the grades.

In [4]:
#Method without libraries
#--------------------------

#Set data with grades
grades=[8.5,9.2,7.8,8.9,10]

#Aux variable to compute total
total=0

#Loop to acumulate grades
for i in grades:
    total = total + i

#Calculate average
ave_grade=total/len(grades)

print(ave_grade)

8.879999999999999

- Find the highest and lowest grade.

In [5]:
#Initialize values
min_grade=grades[0]
max_grade=grades[0]

#Loop to find min and max
for i in grades:
    if i < min_grade:
        min_grade=i
    if i > max_grade:
        max_grade=i
        
print(min_grade,max_grade)

7.8 10

# Real estate data cleaning with Pandas for efficient analysis

This is a real dataset that was downloaded using web scraping techniques. The data contains records from **Fotocasa**, one of the most popular real estate websites in Spain. Please do not perform web scraping unless it is for academic purposes.

The dataset was downloaded a few years ago by Henry Navarro, and no economic benefit was obtained from it.

It contains thousands of real house listings published on the website www.fotocasa.com. Your goal is to extract as much information as possible with the data science knowledge you have acquired so far.

Let's get started!

- First, let's read and explore the dataset.

In [6]:
import pandas as pd

# Leer el archivo CSV
ds = pd.read_csv('assets/real_estate.csv', sep=';') # Este archivo CSV contiene puntos y comas en lugar de comas como separadores
ds # mostramos todo

,Unnamed: 0,id_realEstates,isNew,realEstate_name,phone_realEstate,url_inmueble,rooms,bathrooms,surface,price,...,level4Id,level5Id,level6Id,level7Id,level8Id,accuracy,latitude,longitude,zipCode,customZone
0,1,153771986,False,ferrari 57 inmobiliaria,912177526.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,2.0,103.0,195000,...,0,0,0,0,0,0,"40,2948276786438","-3,44402412135624",NaN,NaN
1,2,153867863,False,tecnocasa fuenlabrada ferrocarril,916358736.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,1.0,NaN,89000,...,0,0,0,0,0,1,"40,28674","-3,79351",NaN,NaN
2,3,153430440,False,look find boadilla,916350408.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,2.0,2.0,99.0,390000,...,0,0,0,0,0,0,"40,4115646786438","-3,90662252135624",NaN,NaN
3,4,152776331,False,tecnocasa fuenlabrada ferrocarril,916358736.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,1.0,86.0,89000,...,0,0,0,0,0,0,"40,2853785786438","-3,79508142135624",NaN,NaN
4,5,153180188,False,ferrari 57 inmobiliaria,912177526.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,2.0,2.0,106.0,172000,...,0,0,0,0,0,0,"40,2998774864376","-3,45226301356237",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15330,15331,153901377,False,infocasa consulting,911360461.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,2.0,1.0,96.0,259470,...,0,0,0,0,0,0,"40,45416","-3,70286",NaN,NaN
15331,15332,150394373,False,inmobiliaria pulpon,912788039.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,1.0,150.0,165000,...,0,0,0,0,0,0,"40,36652","-3,48951",NaN,NaN
15332,15333,153901397,False,tecnocasa torrelodones,912780348.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,4.0,2.0,175.0,495000,...,0,0,0,0,0,0,"40,57444","-3,92124",NaN,NaN
15333,15334,152607440,False,inmobiliaria pulpon,912788039.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,2.0,101.0,195000,...,0,0,0,0,0,0,"40,36967","-3,48105",NaN,NaN
15334,15335,153901356,False,infocasa consulting,911360461.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,2.0,152.0,765000,...,0,0,0,0,0,0,"40,45773","-3,69068",NaN,NaN

- Display the first rows of the CSV file.

In [7]:
ds.head(10)

,Unnamed: 0,id_realEstates,isNew,realEstate_name,phone_realEstate,url_inmueble,rooms,bathrooms,surface,price,...,level4Id,level5Id,level6Id,level7Id,level8Id,accuracy,latitude,longitude,zipCode,customZone
0,1,153771986,False,ferrari 57 inmobiliaria,912177526.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,2.0,103.0,195000,...,0,0,0,0,0,0,"40,2948276786438","-3,44402412135624",NaN,NaN
1,2,153867863,False,tecnocasa fuenlabrada ferrocarril,916358736.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,1.0,NaN,89000,...,0,0,0,0,0,1,"40,28674","-3,79351",NaN,NaN
2,3,153430440,False,look find boadilla,916350408.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,2.0,2.0,99.0,390000,...,0,0,0,0,0,0,"40,4115646786438","-3,90662252135624",NaN,NaN
3,4,152776331,False,tecnocasa fuenlabrada ferrocarril,916358736.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,1.0,86.0,89000,...,0,0,0,0,0,0,"40,2853785786438","-3,79508142135624",NaN,NaN
4,5,153180188,False,ferrari 57 inmobiliaria,912177526.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,2.0,2.0,106.0,172000,...,0,0,0,0,0,0,"40,2998774864376","-3,45226301356237",NaN,NaN
5,6,153934794,False,expimad,912780412.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,2.0,1.0,70.0,315000,...,0,0,0,0,0,0,"40,53391","-3,89445",NaN,NaN
6,7,153848236,False,expimad,912780412.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,2.0,145.0,430000,...,0,0,0,0,0,0,"40,5105842135624","-3,89436578643763",NaN,NaN
7,8,153482331,False,expimad,912780412.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,2.0,1.0,95.0,275000,...,0,0,0,0,0,0,"40,53294","-3,89898",NaN,NaN
8,9,153885351,False,expimad,912780412.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,4.0,3.0,277.0,445000,...,0,0,0,0,0,0,"40,5363057864376","-3,89294421356237",NaN,NaN
9,10,153215459,False,modesta,NaN,https://www.fotocasa.es/es/comprar/vivienda/ma...,4.0,2.0,129.0,350000,...,0,0,0,0,0,0,"40,37502","-3,74391",NaN,NaN

Perfect, this was a small practice. Now let's begin with the real exercises!

#### Exercise 01. What is the most expensive house in the entire dataset? (‚òÖ‚òÜ‚òÜ)

Print the address and price of the selected house. For example:

`The house located at Calle del Prado, N¬∫20 is the most expensive, and its price is 5000000 USD.`

In [8]:
#Find the most expensive price
max_price=ds["price"].max()

#Find the index correspoding to that price
max_index=ds.index[ds['price'] == max_price]

#Find the address correspoding to that index
max_address=ds["address"].iloc[max_index]

#Final print
print("The house located at " + max_address + " is the most expensive, and its price is " + str(max_price)+" USD")

13110    The house located at El Escorial is the most e...
Name: address, dtype: object

#### Exercise 02. What is the cheapest house in the dataset? (‚òÖ‚òÜ‚òÜ)

This exercise is similar to the previous one, except now we are looking for the house with the lowest price. Remember to print the address and price of the selected house. For example:

`The house located at Calle Alcal√°, N¬∫58 is the cheapest, and its price is 12000 USD.`

In [21]:
#Method A) printing all min (price = 0)
#--------------------------

#Find the cheapest price
min_price=ds["price"].min()

#Find the index correspoding to that price
min_index=ds.index[ds['price'] == min_price]

#Find the address correspoding to that index
min_address=ds["address"].iloc[min_index]

#Final print
print("The house located at " + min_address.iloc[0] + " is the cheapest, and its price is " + str(min_price)+" USD")


#--------------------------
#Method B) eluding prices = 0
#--------------------------

#Clean rows with price equal to 0
ds_clean=ds.loc[ds["price"]!=0]

#Find the cheapest price
min_price_clean=ds_clean["price"].min()

#Find the index correspoding to that price
min_index_clean=ds.index[ds['price'] == min_price_clean]

#Find the address correspoding to that index
min_address_clean=ds["address"].iloc[min_index_clean]

#Final print
print("The house located at " + min_address_clean.iloc[0] + " is the cheapest, and its price is " + str(min_price_clean)+" USD")

The house located at Parla is the cheapest, and its price is 0 USD
The house located at Berlin, Coslada is the cheapest, and its price is 600 USD

#### Exercise 03. What is the largest and smallest house in the dataset? (‚òÖ‚òÜ‚òÜ)

Print the address and area of the selected houses. For example:

`The largest house is located at Calle Gran V√≠a, N¬∫38, and its area is 5000 square meters.`

`The smallest house is located at Calle Mayor, N¬∫12, and its area is 200 square meters.`

This exercise is similar to the previous one, but we are looking for the largest and smallest houses based on their area.

In [ ]:
#Find the smallest and biggest areas
area_smallest=ds["surface"].min()
area_biggest=ds["surface"].max()

#Find the indexes for the smallest and biggest areas
index_smallest=ds.index[ds["surface"]==area_smallest]
index_biggest=ds.index[ds["surface"]==area_biggest]

#Find the address correspoding to that index
address_smallest=ds["address"].iloc[index_smallest]
address_biggest=ds["address"].iloc[index_biggest]

#Final print
print("The smallest house is located at " + address_smallest + " and its area is " + str(area_smallest)+" square meters.")
print("The largest house is located at " + address_biggest + " and its area is " + str(area_biggest)+" square meters.")

498    The smallest house is located at Calle Amparo,...
Name: address, dtype: object
6794    The largest house is located at Sevilla la Nue...
Name: address, dtype: object
15.0
249000.0

#### Exercise 04. How many unique populations are in the dataset? (‚òÖ‚òÜ‚òÜ)

Count the number of unique populations in the 'level5' column and print the names of the populations separated by commas. For example:

`> print(populations)`

`population1, population2, population3, ...`

In [ ]:
populations=ds["level5"].value_counts().index.to_list()
for i in populations:
    clean_print=clean_print+i+", "
print(clean_print)

Montejo de la Sierra,  Madrid Capital, Alcal√° de Henares, Las Rozas de Madrid, M√≥stoles, Getafe, San Sebasti√°n de los Reyes, Boadilla del Monte, Parla, Valdemoro, Torrej√≥n de Ardoz, Pozuelo de Alarc√≥n, Alcobendas, Fuenlabrada, Collado Villalba, Arganda del Rey, Legan√©s, Alcorc√≥n, Coslada, Villaviciosa de Od√≥n, Pinto, Majadahonda, Aranjuez, Arroyomolinos (Madrid), Rivas-vaciamadrid, Torrelodones, Navalcarnero, El Escorial, Ciempozuelos, Galapagar, Velilla de San Antonio, Moralzarzal, San Lorenzo de El Escorial, Villanueva de la Ca√±ada, Villanueva del Pardillo, San Mart√≠n de la Vega, Colmenar Viejo, El √Ålamo, Villalbilla, Miraflores de la Sierra, Humanes de Madrid, Alpedrete, Valdemorillo, Mejorada del Campo, Torrej√≥n de la Calzada, Paracuellos de Jarama, Guadarrama, San Fernando de Henares, Meco, Camarma de Esteruelas, Tres Cantos, Algete, San Mart√≠n de Valdeiglesias, Robledo de Chavela, El Molar (Madrid), Manzanares El Real, Brunete, Loeches, Villa del Prado, Torres de la Alameda, Campo Real, Gri√±√≥n, Daganzo de Arriba, Cubas de la Sagra, Soto del Real, Hoyo de Manzanares, El Boalo - Cerceda ‚Äì Mataelpino, Colmenar de Oreja, Tielmes, San Agust√≠n del Guadalix, Pedrezuela, Chinch√≥n, Los Santos de la Humosa, Guadalix de la Sierra, Collado Mediano, Villarejo de Salvan√©s, Sevilla la Nueva, Pelayos de la Presa, Torrej√≥n de Velasco, Ajalvir, Colmenarejo, Villamantilla, Talamanca de Jarama, Becerril de la Sierra, Quijorna, Morata de Taju√±a, Navalagamella, Caraba√±a, Moraleja de Enmedio, Serranillos del Valle, Pozuelo del Rey, Valdetorres de Jarama, Cenicientos, Fresno de Torote - Serracines, Valdilecha, Valdeavero, Aldea del Fresno, Fuentidue√±a de Tajo, Ribatejada, Los Molinos, Venturada, Nuevo Bazt√°n, Casarrubuelos, Gargantilla del Lozoya, Valdeolmos-Alalpardo, Cadalso de los Vidrios, Cercedilla, Titulcia, Torrelaguna, Orusco de Taju√±a, Fuente El Saz de Jarama, Pezuela de las Torres, Cobe√±a, Corpa, Valdemaqueda, Belmonte de Tajo, Redue√±a, Bustarviejo, Fresnedillas de la Oliva, Santa Mar√≠a de la Alameda, Villamanta, Villar del Olmo, Garganta de los Montes, Villavieja del Lozoya, Valdelaguna, Navacerrada, Navas del Rey, Perales de Taju√±a, Villanueva de Perales, Santorcaz, El Berrueco, Valdemanco, El Vell√≥n, La Cabrera, Estremera, Cabanillas de la Sierra, Colmenar del Arroyo, Lozoyuela-navas-sieteiglesias, Buitrago del Lozoya, Valdepi√©lagos, Batres, Chapiner√≠a, Horcajo de la Sierra, Anchuelo, Valdaracete, Zarzalejo, Patones, Villamanrique de Tajo, Villaconejos, Valverde de Alcal√°, Gascones, Puentes Viejas, Torremocha de Jarama, Robregordo, El Atazar, Madarcos, Braojos, Brea de Tajo, Pi√±u√©car-gandullas, Ambite, Navarredonda, Canencia, Lozoya, Navalafuente, Fresno de Torote, Pinilla del Valle, Rascafr√≠a, La Hiruela, Montejo de la Sierra,

#### Exercise 05. Does the dataset contain null values (NAs)? (‚òÖ‚òÜ‚òÜ)

Print a boolean (`True` or `False`) to check if there are null values, followed by the columns that contain NAs.

In [ ]:
# 1) Is there any NA in the DataFrame?
has_any_NA = ds.isna().any().any()

# 2) In case we have, show the colums where NA apppears
if has_any_NA:
    cols_with_NA = ds.columns[ds.isna().any()].tolist()
    print(has_any_NA)
    print(cols_with_NA)

True
['realEstate_name', 'phone_realEstate', 'rooms', 'bathrooms', 'surface', 'description', 'level4', 'level6', 'level7', 'level8', 'zipCode', 'customZone']

#### Exercise 06. Remove the null values (NAs) from the dataset, if applicable (‚òÖ‚òÖ‚òÜ)

After removing the null values, compare the size of the DataFrame before and after the removal.

In [73]:
#Size before removal
size_bef=ds.shape

#REMOVING ROWS
#New DataSet after removal (rows)
ds_aft=ds.dropna(axis=0)
#Size after removal
size_aft=ds_aft.shape
print("IF WE REMOVE ROWS")
print("Before: "+ str(size_bef))
print("After: "+ str(size_aft))
print("\n")

#REMOVING COLUMNS
#New DataSet after removal (columns)
ds_aft=ds.dropna(axis=1)
#Size after removal
size_aft=ds_aft.shape
print("IF WE REMOVE COLUMNS")
print("Before: "+ str(size_bef))
print("After: "+ str(size_aft))

IF WE REMOVE ROWS
Before: (15335, 37)
After: (0, 37)


IF WE REMOVE COLUMNS
Before: (15335, 37)
After: (15335, 25)

#### Exercise 07. What is the average price in the population of "Arroyomolinos (Madrid)"? (‚òÖ‚òÖ‚òÜ)

Print the value obtained from the 'level5' column.

In [ ]:
ds_aux=ds[ds["level5"]=="Arroyomolinos (Madrid)"]
mean_price=ds_aux["price"].mean()
print(mean_price)

294541.59854014596
[165338, 251646, 396000, 225000, 373000, 220000, 385000, 195000, 315000, 228000, 332500, 315400, 315400, 309000, 335000, 251621, 199000, 393000, 349000, 285000, 206000, 369900, 429900, 199900, 201900, 204900, 348900, 344900, 365000, 385000, 349000, 279900, 249900, 335000, 282000, 377500, 177800, 355000, 335000, 332500, 332500, 339900, 206000, 357000, 249000, 344900, 234900, 324900, 285000, 285000, 289000, 332500, 315000, 294000, 356000, 345000, 256458, 189000, 275000, 329000, 350000, 364000, 190000, 256458, 0, 265000, 225000, 349000, 420000, 380000, 222000, 285000, 330000, 220000, 580000, 309000, 285000, 285000, 285000, 285000, 285000, 285000, 285000, 285000, 285000, 194900, 296050, 339000, 339000, 357000, 360000, 204900, 204900, 229900, 274000, 229900, 229900, 274000, 545000, 165338, 349000, 234900, 334900, 229900, 249900, 249900, 249900, 234900, 329900, 294900, 169900, 339900, 194900, 0, 365000, 329900, 299000, 204900, 309000, 360000, 309000, 374000, 390000, 215000, 379500, 389000, 309990, 349000, 190000, 520000, 289000, 490000, 218000, 230000, 217000, 227000, 462000]

#### Exercise 08. Plot the histogram of prices for the population of "Arroyomolinos (Madrid)" and explain what you observe (‚òÖ‚òÖ‚òÜ)

Print the histogram of the prices and write a brief analysis of the plot in the Markdown cell.

In [ ]:
import matplotlib.pyplot as plt

# Plot the histogram of prices